* {
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/d85ca082-cdb9-46d9-b342-ece2fb14d34d/BR-pt-20240311-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
}